<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.structure.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.theme.css" rel="stylesheet">
    <link href="../static/bootstrap/css/jquery-ui.theme.min.css" rel="stylesheet">
    <style>

        /* Smartphones ----------- */
        @media only screen and (max-width: 980px) {
            #desktop {
                display: none;
            }
        }

        @media screen and (min-width: 981px) {
            #mobile {
                display: none;
            }
        }

        iframe {
            height: 100%;
            width: 100%;
        }

        .jumbotron {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #jumbotronmobiili {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #kaikki {
            overflow: auto;
            max-height: 200px;
        }

        #kaikkimob {
            overflow: auto;
            max-height: 200px;
        }

        #uusihaku {
            margin-top: -20px;
            margin-bottom: 10px;
        }

        .kartta {
            margin-top: 5px;
            width: 100%;
            height: 500px;
        }

        #ohjelinkki {
            margin-top: -18px;
            margin-bottom: 5px;
        }
    </style>
    <title>Karttaprojekti</title>
</head>
<body>

<div id="mobile">
    <div id="jumbotronmobiili" class="jumbotron">
        <div class="container">
            <h1>Karttaprojekti</h1>
        </div>
    </div>
    <div class="container-fluid">
        {% if tapahtumat %}
            <a type="button" id="uusihaku" class="btn btn-primary btn-lg btn-block" href="/">Hae uudella
                korppiosoitteella</a>
        {% else %}
            <div class="row-fluid">
                <div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="" method="post" name="login">
                        <div class="form-group">
                            {{ form.hidden_tag() }}
                            <p>
                                <label for="korppiosoite">Anna korpin kalenterin URL:</label> <a type="button"
                                                                                                 id="ohjelinkki"
                                                                                                 class="btn btn-default btn-lg btn-danger pull-right"
                                                                                                 href="#ohjemobiili"
                                                                                                 data-toggle="modal">?</a>
                                {{ form.url(size=80, class="form-control", placeholder="Kalenterin URL", id="korppiosoite") }}
                            </p>

                            <p>
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Hae">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}




        <div class="modal fade" id="ohjemobiili">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Käyttöhjeet</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% for rivi in kayttoohjeet %}
                            {{ rivi }}<br>
                        {% endfor %}</p>
                        <a href="https://korppi.jyu.fi/kotka/servlet/calendar/export/ui/ical" target="_blank"
                           class="btn btn-default btn-block btn-lg">Linkki Korppiin</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                    </div>
                </div>
            </div>
        </div>
        {% if tapahtumat %}
            {{ self.valikkomobile() }}
            <div class="row-fluid">
                <iframe class="kartta" src="/kartta?lat={{ lat }}&lon={{ lon }}"></iframe>
            </div>
        {% endif %}

    </div>
</div>
<div id="desktop">
    <div id="jumbotronmobiili" class="jumbotron">
        <div class="container">
            <h1>Karttaprojekti</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-8">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}
                {% endwith %}
                <form action="" method="post" name="login">
                    {{ form.hidden_tag() }}
                    <p>
                        Anna Korpin kalenterin URL:<br>
                        {{ form.url(size=80, class="form-control", placeholder="Kalenterin URL") }}
                    </p>

                    <p>
                        <input type="submit" class="btn btn-default" value="Hae">
                        <a type="button" class="btn btn-default" href="#ohje" data-toggle="modal">?</a>
                        <input id="nappinayta" type="button" class="btn btn-default pull-right" data-toggle="modal"
                               onclick="naytaRakennus()" value="Näytä rakennuksen kartta">
                    </p>
                </form>
                <!-- <div id="wrap"> -->
                <iframe class="kartta" src="/kartta?lat={{ lat }}&lon={{ lon }}"></iframe>
                <!-- </div>-->
            </div>
            <div class="modal fade" id="ohje">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Käyttöhjeet</h4>
                        </div>
                        <div class="modal-body">
                            <p>{% for rivi in kayttoohjeet %}
                                {{ rivi }}<br>
                            {% endfor %}</p>
                            <a href="https://korppi.jyu.fi/kotka/servlet/calendar/export/ui/ical" target="_blank"
                               class="btn btn-default btn-block btn-lg">Linkki Korppiin</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ self.valikko() }}
        </div>
    </div>
</div>
<input type="hidden" value="" id="ulat">
<input type="hidden" value="" id="ulon">
<script src="../static/jquery-2.1.4.min.js"></script>
<script src="../static/jquery-ui.min.js"></script>
<script src="../static/jquery-ui.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function uusiOsoite() {
        var input = document.getElementById("url");
        input.value = input.getAttribute("value");
        input.value = "";
        location.reload()

    }

    $.fn.scrollTo = function (target, options, callback) {
        if (typeof options == 'function' && arguments.length == 2) {
            callback = options;
            options = target;
        }
        var settings = $.extend({
            scrollTarget: target,
            offsetTop: 0,
            duration: 500,
            easing: 'swing'
        }, options);
        return this.each(function () {
            var scrollPane = $(this);
            var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : $(settings.scrollTarget);
            var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
            scrollPane.animate({scrollTop: scrollY}, parseInt(settings.duration), settings.easing, function () {
                if (typeof callback == 'function') {
                    callback.call(this);
                }
            });
        });
    }

    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(function () {
        $("#datepicker1").datepicker({ //TODO: napit kuukausien vaihtamiseen näkyvii
            firstDay: 1,
            dayNames: ["Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
            dayNamesMin: ['Su', 'Ma', 'Ti', 'Ke', 'To', 'Pe', 'La'],
            monthNames: ['Tammikuu', 'Helmikuu', 'Maaliskuu', 'Huhtikuu', 'Toukokuu', 'Kesäkuu', 'Heinäkuu', 'Elokuu', 'Syyskuu', 'Lokakuu', 'Marraskuu', 'Joulukuu'],
            monthNamesShort: ['Tammi', 'Helmi', 'Maalis', 'Huhti', 'Touko', 'Kesä', 'Heinä', 'Elo', 'Syys', 'Loka', 'Marras', 'Joulu'],
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd',
            altField: '#sendDate',
            onSelect: function () {
                $(function () {
                    $.getJSON($SCRIPT_ROOT + '/calday', {
                        selected_date: document.getElementById("sendDate").value
                    }, function (data) {
                        divi = document.getElementById("valitutTapahtumat");
                        while (divi.firstChild) {
                            divi.removeChild(divi.firstChild);
                        }
                        console.log(data);
                        for (var pussy in data) {
                            var paikkatietohref = "javascript:vaihdaTila(" + "'" + data[pussy].lat + "'" + "," + "'" + data[pussy].lon + "'" + "," + "'" + data[pussy].areaId + "'" + "," + "'" + data[pussy].buildingId + "'" + "," + "'" + data[pussy].floorId + "'" + "," + "'" + data[pussy].spaceId + "')";
                            var paikkatietotext = data[pussy].paiva + ", " + data[pussy].paikka + " klo " + data[pussy].aika + ". Kuvaus: " + data[pussy].kuvaus;
                            var elementa = document.createElement("a");
                            elementa.textContent = paikkatietotext;
                            elementa.setAttribute("href", paikkatietohref);
                            elementa.setAttribute("class", "list-group-item");
                            document.getElementById("valitutTapahtumat").appendChild(elementa);
                            //document.getElementById("valittua").href = paikkatietohref;
                            //document.getElementById("valittua").textContent = paikkatietotext;
                        }
                    });
                    return false;
                });
            },
        });
    });

    $(function () {
        $("#datepickermob").datepicker({ //TODO: napit kuukausien vaihtamiseen näkyvii
            firstDay: 1,
            dayNames: ["Sunnuntai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Lauantai"],
            dayNamesMin: ['Su', 'Ma', 'Ti', 'Ke', 'To', 'Pe', 'La'],
            monthNames: ['Tammikuu', 'Helmikuu', 'Maaliskuu', 'Huhtikuu', 'Toukokuu', 'Kesäkuu', 'Heinäkuu', 'Elokuu', 'Syyskuu', 'Lokakuu', 'Marraskuu', 'Joulukuu'],
            monthNamesShort: ['Tammi', 'Helmi', 'Maalis', 'Huhti', 'Touko', 'Kesä', 'Heinä', 'Elo', 'Syys', 'Loka', 'Marras', 'Joulu'],
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd',
            altField: '#sendDate',
            onSelect: function () {
                $(function () {
                    $.getJSON($SCRIPT_ROOT + '/calday', {
                        selected_date: document.getElementById("sendDate").value
                    }, function (data) {
                        $("#resultmobiili").text(data);
                    });
                    return false;
                });
            },
        });
    });

    var tlat = 62.23252728347514; // Agoran koordinaatit oletuksena
    var tlon = 25.73729200674369;
    var rakennusnaytetty = false;
    var naytaoletus = true;
    var areaId = 'None';
    var buildingId = 'None';
    var floorId = 'None';
    var spaceId = 'None';

    window.onload = function () {

        getLocation();
        {%  if tapahtumatTanaan %}
            if (naytaoletus) {
                vaihdaTila('{{ tapahtumatTanaan[0].lat }}', '{{ tapahtumatTanaan[0].lon }}', '{{ tapahtumatTanaan[0].areaId }}',
                        '{{ tapahtumatTanaan[0].buildingId }}', '{{ tapahtumatTanaan[0].floorId }}', '{{ tapahtumatTanaan[0].spaceId }}', false)
            }
        {% endif %}
    };


    function vaihdaTila(lat, lon, area, building, floor, space, klik) {
        $('body').scrollTo('.kartta');

        setTimeout(function () {
            console.log("Tilan tiedot ladattu");
            rakennusnaytetty = false;
            tlat = lat;
            tlon = lon;
            areaId = area;
            buildingId = building;
            floorId = floor;
            spaceId = space;
            if (klik) naytaoletus = false;
            if (document.getElementById("ulat").value != "" && document.getElementById("ulon").value != "") {
                $(".kartta").attr("src", "/kartta?lat=" + lat + "&lon=" + lon + "&marker=1" + "&ulat=" + document.getElementById("ulat").value + "&ulon=" + document.getElementById("ulon").value);
            }
            else {
                $(".kartta").attr("src", "/kartta?lat=" + lat + "&lon=" + lon + "&marker=1");
            }
        }, 500);


    }

    function naytaRakennus() {
        if (rakennusnaytetty) {
            $("#nappinayta").attr("value", "Näytä rakennuksen kartta")
            vaihdaTila(tlat, tlon, areaId, buildingId, floorId, spaceId)
        }
        else {
            $("#nappinayta").attr("value", "Näytä rakennus kartalla")
            rakennusnaytetty = true;
            if (areaId != 'None' &&
                    buildingId != 'None' &&
                    floorId != 'None' &&
                    spaceId != 'None') {
                $(".kartta").attr("src", encodeURI("http://navi.jyu.fi/?viewport=big#map?areaId=" + areaId + "&buildingId=" + buildingId + "&floorId=" + floorId + "&spaceId=" + spaceId));
            }
            else {
                $(".kartta").attr("src", "/virhe");
            }
        }
    }

    function getLocation() {
        try {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                // TODO: Kerrro käyttäjälle
            }
        }
        catch (err) {
            console.log(err.message)
        }
    }

    function showPosition(position) {
        if (tlat != undefined && tlon != undefined) {
            var lon = tlon;
            var lat = tlat;
            document.getElementById("ulat").value = position.coords.latitude;
            document.getElementById("ulon").value = position.coords.longitude;
            $(".kartta").attr("src", "/kartta?lat=" + lat + "&lon=" + lon + "&ulat=" + position.coords.latitude + "&ulon=" + position.coords.longitude);
        }
        else {
            $(".kartta").attr("src", "/kartta?" + "ulat=" + position.coords.latitude + "&ulon=" + position.coords.longitude);
        }
        {%  if tapahtumatTanaan %}
            if (naytaoletus) {
                vaihdaTila('{{ tapahtumatTanaan[0].lat }}', '{{ tapahtumatTanaan[0].lon }}', '{{ tapahtumatTanaan[0].areaId }}',
                        '{{ tapahtumatTanaan[0].buildingId }}', '{{ tapahtumatTanaan[0].floorId }}', '{{ tapahtumatTanaan[0].spaceId }}', false)
            }
        {% endif %}
    }
</script>

</body>
</html>