 <div id="loaderi" class="cssload-wrap"> <span class="loaderspan">Haetaan</span>
                    <div class="cssload-container">
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                        <span class="cssload-dots"></span>
                    </div>
                   <span class="loaderspan">Sijaintiasi</span>
                </div>